/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.65;
    /* text-align: center;  */
}

/* HEADER */
header {
    background-color: black;
    width: 100%;
}

header img {
    width: 150px;
    margin: 1em 2em 0;
    text-align: left;
}

header div {
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    padding-bottom: 1.5em;
}

header div h1 {
    padding: 1em;
    color: #25a2c3 ;
    line-height: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}

#headerPchild {
    margin: 1em;
    font-size: 1em;
    margin-top: 0;
    text-align: center;
    line-height: 1.5em;
}

header button {
    text-align: center;
    background-color: #f04c2f;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 1.5em;
    width: 6%;
    border-radius: 5px;
    border: #f04c2f;
    line-height: 0;
}

/* MAIN */

main {
    background-color: white;
    text-align: center;
}

article div  {
    margin: 0 auto;
    width: 80%;
    padding: 2em 0em;
}

article div div {
    display: inline-block;
    text-align: left;
    width: 50%;
    font-size: 0.8em;
}
/* ELEMENTI NEL MAIN - ARTICLE */

article img {
    width: 20%;
    margin-right: 4em;
    border-radius: 50%;
}

article h3 {
    color: #25a2c3 ;
    line-height: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
article p {
    font-size: 1.2em;
}

section {
    padding: 1em 1em 1em;
    background-color: #f04c2f;
    color: white;
}

section h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
}

section p {
    font-size: 0.8em;
    font-style: italic;
}

/* ELEMENTI NELL' ASIDE */

aside {
    padding: 1em 0 4em;
    text-align: center;
    background-color: white;
}

aside div {
    display: inline-block;
    border: #dee1e3 solid;
    margin: 1em;
    width: 25%;
}

aside h3 {
    text-align: center;
    color: #25a2c3 ;
}

aside p {
    margin: 0 1em 1em;
}

aside img {
    width: 100%;
    height: 275.37px;
    object-fit: cover;
}

/* FOOTER */

footer {
    width: 100%;
    padding-bottom: 1em;
    background-color: #25a2c3 ;
}
footer div {
    display: inline;
    text-align: center;
}
footer h2 {
    padding: 1em 0 0;
    color: white
}

footer p {
    padding: 1em;
    color: #c8e7f0;
    
    
}

#Indirizzo {
    padding: 0 0 2em;
    color: #c8e7f0;
    border-bottom: 1px solid white;
    /* margin: 0 40em 3em; */
    
    
}

address a {
    padding: 1em;
    color: #c8e7f0
}

